div.map-container {
  position: absolute;
  height: auto;
  width: 1200px;
}

#country-map {
  position: relative;
  height: 480px;
  width: 880px;
}


#leaguelogo{
  height: 100px;
  width: 100px;
  align-content: center
}

.ct-label{
  color: rgb(0, 0, 0)
}

