div.map-container {
  position: absolute;
  height: auto;
  width: 1200px;
}

#country-map {
  position: relative;
  height: 480px;
  width: 880px;
}
/* 
div.chart-container {
  position: absolute;
  height: 800px;
  width: 600px;
} */

#leaguelogo{
  height: 150px;
  width: 150px;
  align-content: center
}

