<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>European League Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>
  
  <script src="http://d3js.org/d3.v4.min.js"></script>
  <script src="http://dimplejs.org/dist/dimple.v2.3.0.min.js"></script>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body style = "background-color: white">

  <div class="container-fluid">
    <div class="row ">
      <div class="col-md-12 text-center" style="background-color:rgb(214, 216, 235);">
      <h1 id="dashboard heading">European Soccer Data Analysis
          <img src="{{ url_for('static', filename='images/sball.png') }}" alt="logo" width="50", height="50" id ="logo">
    </div>
  </div>

  <br>

  <div class = "row">
    <div class = "col-md-6">
      <div class="row">
        <div class="col-md-6"> 
          <div>          
              <div class = "map-container"></div>
              <div id="country-map" class="panel-body"></div>                      
            </div>
        </div>       
      </div>
      <br>

      <div class = "row">
        <div class="col-md-6 text-lightalign-middle">      
            <h4>League:             
                <select id="select-league" onchange="optionChanged(this.value)">
                  
                </select>             
            </h4>        
        </div>
        <div class="col-md-6 text-center align-middle">
            <h4>Season:  
              <select id="select-season" onchange="optionChanged(this.value)">
                  
              </select>
            </h4>
        </div>      
      </div>
      <br>
      
      <div class = "row">
        <div class="col-md-3 text-light">      
          <img id ='leaguelogo' align="middle">          
          
        </div>               
      
        <div class="col-md-9 text-light">      
          
          <p id = "lgtext" style="text-align:justify">  </p>
        </div>               
      </div>
    </div>

    <div class="col-md-6">
      <div class = "row">
        <div class="co-md-12">
            <h4 style="text-align:center">chart1</h4>            
            <div class="chart-container" id = "chart1">              
            </div>
        </div> 
      </div>
      <div class = "row">
        <div class="co-md-12">
            <h4 style="text-align:center">chart2</h4>            
            <div class="chart-container" id = "chart2">              
            </div>
        </div> 
      </div>
      <div class = "row">
          <div class="co-md-12">
              <h4 style="text-align:center">chart3</h4>            
              <div class="chart-container" id = "chart3">              
              </div>
          </div> 
        </div>
    </div>
  </div>
   
<body>
  <script type="text/javascript">
    var svg = dimple.newSvg("body", 800, 600);
    var data = [
      { "Word":"Hello", "Awesomeness":2000 },
      { "Word":"World", "Awesomeness":3000 }
    ];
    var chart = new dimple.chart(svg, data);
    chart.addCategoryAxis("x", "Word");
    chart.addMeasureAxis("y", "Awesomeness");
    chart.addSeries(null, dimple.plot.bar);
    chart.draw();
  </script>
</body> 
  
  
